In [ ]:
from googleapiclient.discovery import build
import pandas as pd
import seaborn as sns

In [ ]:
# api_key = 'AIzaSyAV-0K0-KvUxnzobnLlm01LCG9zqFEYByo'
# channel_id = 'AIzaSyAV-0K0-KvUxnzobnLlm01LCG9zqFEYByo'

# youtube = build('youtube','v3',developerKey = api_key)


api_key = 'AIzaSyAV-0K0-KvUxnzobnLlm01LCG9zqFEYByo'
#channel_id = 'UCnz-ZXXER4jOvuED5trXfEA'
channel_ids = ['UCnz-ZXXER4jOvuED5trXfEA', # techTFQ
               'UCLLw7jmFsvfIVaUFsLs8mlQ', # Luke Barousse 
               'UCiT9RITQ9PW6BhXK0y2jaeg', # Ken Jee
               'UC7cs8q-gJRlGwj4A8OmCmXg', # Alex the analyst
               'UC2UXDak6o7rBm23k3Vv5dww' # Tina Huang
              ]

youtube = build('youtube', 'v3', developerKey=api_key)

In [ ]:
# def get_channel_stats(youtube, channel_ids):
    
#     request = youtube.channels().list(
#                 part='snippet,contentDetails,statistics',
#                 id=channel_ids)
#     response = request.execute() 

def get_channel_stats(youtube, channel_ids):
    all_data = []
    request = youtube.channels().list(
                part='snippet,contentDetails,statistics',
                id=','.join(channel_ids))
    response = request.execute() 
    
    for i in range(len(response['items'])):
        data = dict(Channel_name = response['items'][i]['snippet']['title'],
                    Subscribers = response['items'][i]['statistics']['subscriberCount'],
                    Views = response['items'][i]['statistics']['viewCount'],
                    Total_videos = response['items'][i]['statistics']['videoCount'],
                    playlist_id = response['items'][i]['contentDetails']['relatedPlaylists']['uploads'])
        all_data.append(data)
    
    return all_data

In [ ]:
channel_statistics = get_channel_stats(youtube, channel_ids)
channel_data = pd.DataFrame(channel_statistics)
channel_data

,Channel_name,Subscribers,Views,Total_videos,playlist_id
0,Luke Barousse,286000,12695152,95,UULLw7jmFsvfIVaUFsLs8mlQ
1,Tina Huang,430000,17505292,111,UU2UXDak6o7rBm23k3Vv5dww
2,Ken Jee,229000,7285010,243,UUiT9RITQ9PW6BhXK0y2jaeg
3,techTFQ,146000,6940871,82,UUnz-ZXXER4jOvuED5trXfEA
4,Alex The Analyst,330000,12994472,183,UU7cs8q-gJRlGwj4A8OmCmXg